input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin: 5px;
}

div#bottomBar {
    z-index: 1;
    position: fixed;
    width: 100%;
    transition: all var(--transDur);
    bottom: 0;

}

md-dialog [slot="headline"] {
    font-family: var(--md-ref-typeface-plain);
    font-size: 1.1rem;
}

#homescreen {

    display: flex;
    flex-direction: column;
    height: 65vh;
    top: 70px;
    width: 70vw;
    position: relative;
    transition: all var(--transDur);
    margin: auto;

}


#signInMessage {
    margin-left: auto;
    margin-right: auto;
    color: var(--colorTxtDialog);
    display: block;
    top: 70px;
    position: relative;
    width: 72vw;
    padding: 10px;
    text-align: center;
    border-top: 1px var(--md-sys-color-primary) solid;
    border-bottom: 1px var(--md-sys-color-primary) solid;


}

.fullscreen {
    width: 100%;
    height: 100%;
    max-width: 101vw;
    border-radius: 0;
    max-height: 101vh;
    --_container-color: var(--md-sys-color-surface);
}




.signInAnim {
    display: block;
    height: 8vh;
    width: 35vw;
    position: absolute;
    animation: signInAnimation var(--transDur) ease-out forwards;
    background-color: white;
    border-radius: 50px;
    z-index: 42;
    scale: 1;
    opacity: 1;
}

#newapp {
    position: relative;
    bottom: 135%;
    text-align: center;
    color: var(--colorTxtDialog);
    scale: .8;
    padding: 5px;

    display: block;
}

@media (max-height:530px) {
    #newapp {
        display: none !important;
    }
}

a {
    color: var(--colorTxtDialog);
}

#actionBarStart {
    display: flex;

    transition: all var(--transDur);

    justify-content: center;
    height: 50px;
    pointer-events: auto;
}

@keyframes signInAnimation {


    50% {
        scale: 2;


    }

    100% {

        height: 100vh;
        width: 100vw;
        scale: 3;
        border-radius: 0;
    }

}

.menu-container {
    position: absolute;
    top: -10px;
    right: 10px;
}

md-outlined-button {
    margin: 5px
}

md-menu-item,
md-menu {
    width: 240px;
}

.menu-head {
    width: 205px;
}

md-dialog,
md-menu {

    --_container-color: var(--md-sys-color-surface-container-high)
}

md-list {
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    border-radius: 25px;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    -webkit-tap-highlight-color: transparent;
}

md-list::-webkit-scrollbar {
    display: none;
}

md-filled-button,
md-filled-tonal-button {
    transition: all var(--transDur);
    margin: 7px;

    animation: showScreen var(--transDur) forwards;
}

md-outlined-button {
    animation: showScreen var(--transDur) forwards;
}

#homescreen md-outlined-button,
#homescreen md-filled-tonal-button {
    flex-basis: 15%;

}

.iksRight {
    right: 15px;
    top: 15px;
    position: absolute;
}

#signInGoogle {
    --md-filled-button-container-color: #fff
}

:root {
    --md-sys-color-primary: #A4C9FF;
    --md-sys-color-on-primary: #003060;
    --md-sys-color-secondary: #000;
    --md-ref-typeface-brand: 'Open Sans';
    --md-ref-typeface-plain: system-ui;
    font-family: system-ui;
}

.signInGoogle,
.signOutGoogle {
    transition: all var(--transDur) ease-in;
    display: flex;
    overflow: visible;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: solid 3px var(--bgColor);
    color: black;

}



form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#Capa_1 {
    transition: all .1s;
    margin: 8px;
    border-radius: 300px;
    background-color: white;
    padding: 15px;
}

#signInText {
    transition: all .1s;
}

#actionBar {
    -webkit-transform: translate3d(0, 0, 20px);
    display: none;
    background-color: var(--bgColor);
    transition: all var(--transDur);
    align-items: center;
    justify-content: center;
    z-index: 66;
    position: relative;
    height: 50px;
    pointer-events: auto;
}

i {
    margin: 5px;
}

@media (max-width:380px) {
    .bottomBtn {
        font-size: 0;
    }
}

@media (min-width:400px) {
    .bottomBtn {
        font-size: .9rem;
    }
}

@keyframes animate-stroke {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        stroke: var(--md-sys-color-primary);
    }

    50% {

        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
        stroke: var(--md-sys-color-primary);
    }

    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
        stroke: var(--md-sys-color-primary);
    }
}

.loaderInner {
    stroke-width: 5px;
    width: 51px;
    margin-left: auto;
    animation: animate-stroke 1.5s ease-in-out infinite;
    margin-right: auto;
    position: relative;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.circular-loader {
    animation: rotate 2s linear infinite;
}

.bottomBtn {
    flex-basis: auto;
    display: flex;

    width: 22%;

    margin: 10px;
}

.opis {
    font-size: 1.2rem;
    color: var(--colorTxtDialog);
    width: 80%;
    text-align: center;
}

span.ripple {
    width: 1px;
    height: 1px;
    opacity: .4;
    filter: brightness(2);
    position: absolute;
    border-radius: 50%;
    transition: all .3s;
    transform: scale(1) translate(-50%, -50%);
    /*animation: ripple 3000ms linear forwards;*/
    background-color: inherit;
}

.fadeOutIt {
    animation: fadeOut var(--transDur) linear forwards !important;
}

@keyframes fadeOut {
    from {
        opacity: .4;
    }

    to {
        opacity: 0;
    }
}

@keyframes ripple {
    0% {
        transform: scale(0) translate(-50%, -50%);
        opacity: 0;
    }

    20% {
        transform: scale(.4) translate(-75%, -75%);
        opacity: 1;
    }

    100% {
        transform: scale(2) translate(-25%, -25%);
        opacity: .4;
    }
}

html {
    overscroll-behavior: none;
    font-size: 1.2em;
    -webkit-user-select: none;

    -ms-user-select: none;

    user-select: none;
    font-family: 'Roboto', sans-serif;
}

.gameData {
    width: 90%;
}

.gameTdDiv {
    min-width: 68px;
    max-width: 12%;
    flex: 1 1 100%;
}

@keyframes hidScale {
    to {
        padding: 1px;
    }
}

.gameDataTdBottom {
    text-align: center;
    background-color: var(--md-sys-color-secondary-container);
    padding: 8px;
    margin: 3px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.gameDataTd {
    text-align: center;
    background-color: var(--md-sys-color-secondary-container);
    padding: 8px;
    margin: 3px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}



.iks {
    color: var(--md-sys-color-on-primary);
    fill: var(--md-sys-color-on-primary);
    position: fixed;
    right: 10px;
    top: 10px;
    height: calc(3vw + 3vh);

}

.iksFont {
    font-size: calc(3vw + 3vh) !important;
}



.namePlayers {
    padding-bottom: 10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    z-index: 50;
    filter: saturate(.6);
    position: sticky;
    top: 0px;
    word-wrap: break-word;
    background-color: var(--colorDialog);
    padding-top: 5px;
    margin-top: -50px;
    overflow: hidden;
}



.undo {
    position: fixed;
    right: 10px;
    bottom: 50px;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.chl {
    filter: saturate(.6);
    transition: all var(--transDur);
    overscroll-behavior: none;
    box-shadow: none, none;
    height: calc(100svh - 210px);
    margin-top: 60px;
    margin-bottom: 50px;
    border-radius: 30px;
    background-color: var(--colorDialog);
    color: var(--colorTxtDialog);
    padding: 0px;
    overflow: scroll;
    flex: 1;
    position: relative;
    text-align: center;
}

.chl::-webkit-scrollbar {
    display: none;
}


.chl {
    -ms-overflow-style: none;

    scrollbar-width: none;

}

slot[name="content"]::slotted(*) {
    padding: 15px;
}

#pomoc {
    background: var(--md-sys-color-surface);
    background: var(--md-sys-color-surface);
    z-index: 4;

    overflow: scroll;
    overflow-y: scroll;
}

#pomoc md-list-item {
    border-radius: 15px;
    background-color: var(--md-sys-color-secondary-container);
    width: 90%;
    transition: all var(--transDur) ease-in-out;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.prnt {
    -webkit-transform: translate3d(0, 0, 0px);
    overflow-y: auto;
    color: var(--colorTxtDialog);
    padding: 0px 10px 10px 10px;
    min-height: calc(100vh - 60px);
    height: calc(100vh - 60px);
    position: relative;
    flex: 1;
    overflow-x: hidden;
    text-align: center;
    z-index: 1;
    background: transparent;
}

.chl2 {
    flex: 1;
    text-align: center;
    font-size: 1.2rem;
    position: absolute;
    bottom: 0;
    border-right: 1px solid;
}

.whlScreen {
    animation: showScreen var(--transDur) forwards;
    color: var(--colorTxt);
    z-index: 500000;
    display: flex;
    flex-direction: row;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    flex-wrap: wrap;
    max-height: 90vh;
    overflow-y: scroll;
    transition: all var(--transDur);
    position: fixed;
    justify-content: center;
    width: 80%;
    height: auto;
    padding: 5px;
    border-radius: 40px;
    background: var(--colorDialog) 30%
}

button:not(.gsi-material-button) {
    color: var(--colorTxt);
    transition: all .05s;
    overflow: hidden;
    position: relative;
    min-width: min-content;
    flex-basis: 90px;
    display: flex;
    border-radius: 30px;
    flex-direction: row;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-items: center;
    padding: 14px;
    border-width: 0;
    background-color: var(--colorBtn);
    /* box-shadow: 5px 5px #888888; */
    margin: 10px;
    animation: showScreen var(--transDur) forwards;
}

.tockeLabel {
    font-size: 90%;
    position: relative;
    left: 50%;
    display: inline;
    bottom: -15px;
    z-index: 555555;
    color: black;
    opacity: .4;
}

select:active {
    /*  box-shadow: 5px 5px #888888;*/
    border-width: 0;
}

select {
    transition: all .05s;
    margin: 30px;
    width: 40vw;
    border-width: 0;
    border-radius: 20px;
    padding: 7px;
    animation: showScreen var(--transDur) forwards;
}

input:not([type="color"]) {
    margin: 10px;
    width: 40vw;
    border-width: 0;
    border-radius: 20px;
    padding: 7px;
    transition: all .1s;
    outline: var(--colorBtn) solid 0px;
    animation: showScreen var(--transDur) forwards;
}

input:focus-visible {
    outline: var(--colorBtn) solid 3px;
}

.cntScreen {

    color: var(--colorTxt);
    display: flex;
    flex-direction: row;
    width: 100%;
    z-index: 0;
    position: relative;
    transition: all var(--transDur);
    justify-content: center;
    align-items: top;
    height: 100%;

}

.brightnesslow {
    filter: brightness(.6);
}

md-outlined-button {
    /* ... */
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;

    --md-elevation-level: 3;
}

md-outlined-button:active {
    --md-elevation-level: 0;
}

.shareToolTip {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.shrBtn:hover .shareToolTip {
    visibility: visible;
}

.crezultLine {
    transition: all var(--transDur);
    color: var(--colorTxt);
    z-index: 40;
    overflow: hidden;
    display: flex;
    filter: saturate(.6);
    flex-direction: row;
    width: 100%;
    box-shadow: none;
    bottom: -19px;
    position: relative;
    justify-content: center;
    align-items: top;
    text-align: center;
}

span.dialog-headline {
    font-size: 1.2rem;
}

span.btnIcon {
    border: 2px var(--md-sys-color-on-surface) solid;
    text-align: center;
    padding: 3px;
    font-size: 90%;
    color: var(--md-sys-color-on-surface);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child {
    width: 30vw;
    flex: 1 1 100%;
    margin: 10px;
    width: 30vw;
    margin: 10px;
}

@media (prefers-reduced-motion) {
    body {
        --transDur: 0s !important;
    }


}

@media (prefers-color-scheme: dark) {
    body {
        height: 100%;
        --transDur: .3s;
        --bgColor: var(--md-sys-color-surface);
        --colorDialog: var(--md-sys-color-secondary-container);
        --colorTxtDialog: var(--_label-text-color);
        --colorTxt: var(--md-sys-color-on-surface);
        --colorBtn: var(--md-sys-color-primary);
        color: var(--colorTxt);
        margin: 0;
        overflow: hidden;
        background-color: var(--bgColor);
    }

    .gsi-material-button {
        background-color: #131314;
        border: 1px solid #747775;
        color: #e3e3e3;
    }

    .loader {
        z-index: 400;
        position: absolute;
        width: 100vw;
        height: 100vh;

        background-color: var(--md-sys-color-surface, black);
        color: white;
        top: 0;
        text-align: center;
    }
}

md-filled-text-field {
    --md-filled-text-field-container-color: var(--md-sys-color-surface-container);
}

html {
    height: 100%;
}

md-outlined-text-field {
    transition: all var(--transDur);
    animation: showScreen var(--transDur) forwards;
    margin: 10px;
}

@media (prefers-reduced-motion) {
    body {
        --transDur: 0s !important;
    }
}

@media (prefers-color-scheme: light) {
    body {
        height: 100%;
        --transDur: .3s;
        --bgColor: var(--md-sys-color-surface);
        --colorDialog: var(--md-sys-color-secondary-container);
        --colorTxtDialog: var(--_label-text-color);
        --colorTxt: var(--md-sys-color-on-surface);
        --colorBtn: var(--md-sys-color-primary);
        color: var(--colorTxt);
        margin: 0;
        overflow: hidden;
        background-color: var(--bgColor);
    }

    .gsi-material-button {
        background-color: WHITE;
        background-image: none;
        border: 1px solid #747775;
        color: #1f1f1f;
    }

    .loader {
        z-index: 400;
        position: absolute;
        width: 100vw;
        height: 100vh;

        background-color: var(--md-sys-color-surface, white);
        color: black;
        top: 0;
        text-align: center;
    }
}

p {
    transition: all var(--transDur);
}

@keyframes showScreen {
    0% {
        opacity: 0;
        transform: scale(.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes hideScreen {
    0% {
        opacity: 1;
        scale: 1;
    }

    100% {
        opacity: 0;
        scale: .9;
    }
}



.poMeri {
    margin: 10px;
    width: 60%;
}

md-fab {
    z-index: 1;
    position: absolute;
    right: 20px;
    bottom: 40px;
    -webkit-tap-highlight-color: transparent;
}

.gsi-material-button {

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    background-image: none;

    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 7px;
    cursor: pointer;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 14px;
    height: 40px;
    letter-spacing: 0.25px;
    outline: none;
    overflow: hidden;
    padding: 0 12px;
    position: relative;
    text-align: center;
    -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
    transition: background-color .218s, border-color .218s, box-shadow .218s;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;

    min-width: min-content;
}

#homeContainer {
    animation: showScreen var(--transDur) forwards cubic-bezier(.3, .5, 0, 1.3);
    height: 100%;


}

.gsi-material-button .gsi-material-button-icon {
    height: 20px;
    margin-right: 12px;
    min-width: 20px;
    width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
    -webkit-align-items: center;
    align-items: center;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
    -webkit-transition: opacity .218s;
    transition: opacity .218s;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}



.gsi-material-button:disabled .gsi-material-button-contents {
    opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
    opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state,
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
    background-color: #001d35;
    opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
    -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
    background-color: #001d35;
    opacity: 8%;
}